* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#create-share-group {
    text-align: center;
}

.action-button {
    color: #fff;
    background-color: #409eff;
    border: unset;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    padding: 12px 20px;
}

.action-button[disabled] {
    background-color: #a0cfff;
    cursor: not-allowed;
}

#create-share {
    text-align: center;
    margin: 100px;
}

#history-link {
    text-align: center;
    font-size: 12px;
}

#sharing {
    width: min-content;
    min-width: 240px;
    text-align: center;
    margin: 100px auto;
}

#file-table {
    width: max-content;
}

#main-display {
    text-align: center;
}

#share-history {
    text-align: center;
    margin: 100px auto;
}

@media (prefers-color-scheme: dark) {
    * {
        background: #1e1f23;
        color: #c4c5c9;
    }
}
