* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#file-list {
    text-align: center;
    width: min-content;
    margin: 100px auto;
}

#cli-operation {
    text-align: center;
    width: min-content;
    margin: auto;
}

.file-item {
    width: max-content;
}

.link-like {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    * {
        background: #1e1f23;
        color: #c4c5c9;
    }
    .link-like {
        color: #c4c5c9;
    }
}
