h1 {
    text-align: center;
}

#file-list {
    text-align: center;
    width: min-content;
    margin: 100px auto;
}

#cli-operation {
    text-align: center;
    width: min-content;
    margin: auto;
}

.file-item {
    width: max-content;
}

.link-like {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
